.row-col-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(20rem, auto);
    text-align: center;
    padding: 3rem 5rem 5rem 5rem;
}

.row-col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    
    text-align: center;
    padding: 3rem 5rem 5rem 5rem;
}

.row-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1rem;
    padding: 3rem 5rem 0 5rem;
}

@media only screen and (max-width: 600px) {
    .row-col-5 {
        display: grid;
        grid-gap: 1rem;
        grid-auto-rows:  minmax(10rem, auto);
        padding: 0 2rem;
    }
    .row-col-4 {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 1rem;
        padding: 2rem 2rem;
    }
    .row-col-2 {
        display: grid;
        grid-gap: 1rem;
        padding: 2rem 2rem;
    }
}