.Cart {
    min-height: 600px;
    background: #454545;
}

.Cart h3 {
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 2rem;
    color: #fefefa;
}

.cart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-product-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;
    top: 5rem;
}

.cart-product-details p {
 font-size: 2rem;
 color: #fefefa;
 width: 100%;
 background: #b8b8b8;
}

.cart-product-details div {
    font-size: 2.4rem;
    color: #fefefa;
}

.cart-total {
    position: relative;
    top: 5rem;
    align-self: center;
    justify-self: center;
    width: 70%;
}

.cart-total h4 {
    font-size: 3rem;
    color: #fefefa;
}

.cart-total-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 2rem;
}



.cart-total-grid h5 {
    font-size: 2rem;
    color: #fefefa;
}

.cart-total button {
    position: relative;
    top: 1rem;
    width: 60%;
    grid-column: 1/2;
    border: none;
    height: 40px;
    background: #ed2939;
    font-size: 1.5rem;
    color: #fefefa;
    top: 3rem;
    border-radius: 25px;
}


@media only screen and (max-width: 600px) {

    .cart-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .cart-product-details img{
        width: 80%;
    }
    .cart-total {
        width: 90%;
        top: 8rem;
    }
    .end {
        justify-self: end;
    }
    .cart-total button {
        top: 5rem;
        width: 100%;
        font-size: 2.5rem;
    }
}

