.products {
    max-width: 100%;
    background: #1f1f1f;
}

.product-image {
    width: 70%;
}

.view-products {
    color: red;
    font-size: 2.5rem;
    padding: 0 7rem 0 0;
    align-self: center;
    justify-self: end;
}

.item-image {
    width: 80%;
    border-radius: 5px;
}

hr {
    width: 100%;
    color: white;
}

@media only screen and (max-width: 600px) {
    .item-image {
        width: 80%;
        border-radius: 5px;
    }
    .view-products {
        font-size: 2rem;
        padding: 0;
    }
    .product-image {
        width: 100%;
    }
}