.products {
    max-width: 100%;
    background: #454545;
}

.product-image {
    width: 70%;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e42c0b);
    transition: transform .3s, -webkit-transform .3s;
    animation: circle 2s linear infinite;
}

/* @keyframes circle {
    0% { transform: rotate(0deg); filter: hue-rotate(0deg);}
    100% {transform: rotate(30deg); filter: hue-rotate(360deg);}
} */

.product-image::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
     border-radius: 50%; 
    z-index: 1000;
}

.product-image::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    background: #000;
    border-radius: 50%; 
    z-index: 1000;
    z-index: 1;
    filter: blur(30px); 
}

.product-image:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

.view-products {
    color: red;
    font-size: 2.5rem;
    padding: 0 7rem 0 0;
    align-self: center;
    justify-self: end;
}

.item-image {
    width: 80%;
    border-radius: 5px;
}

hr {
    width: 100%;
    color: white;
}

.view-products i {
    color: #fefefa;
    font-size: 4rem;
}

.product-link {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .item-image {
        width: 80%;
        border-radius: 5px;
    }
    .view-products {
        font-size: 2rem;
        padding: 0;
    }
    .product-image {
        width: 100%;
    }
}