.Section4__sideCard{
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Section4__Main{
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-size: 100% 100%;
    opacity: 0.8;
}

.Section4__Inner{
    height: 500px;
    width: 80%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

.Section4__CardInnerPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Section4__CardInnerPart >p{
    font-size: 14px;
    text-align: justify;
    line-height: 1;
    max-width: 25ch;
    font-weight: bold;
    color: white;
}

.Section4__CardImage{
    border-radius: 15px;
}

.Section4__CardInnerPart :nth-child(1){
    font-size: 15px;
}

.Section4__Ad{
    height: 300px;
    width: 20%;
    float: right;
}

.Section4__Image{
    height: 300px;
    width: 100px;
}

.Section4__InnerTop{
    height: 30px;
    width: 70%;
    position: relative;
    left: 90px;
    top:20px;
    color:white;
}