.Community h3 {
  color: #fefefa;
  font-size: 3.2rem;
  position: relative;
  top: 5rem;
  left: 3rem;
}
.Community .community-section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.Community .community-section-1 .content-1 {
  padding-left: 3rem;
}
.Community .community-content {
  font-size: 2rem;
  color: #d8d8d2;
}

.Community .community-section-2 {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 3rem;
  padding-right: 3rem;
}

.Community .community-section-2 .content-2 {
  padding-bottom: 2rem;
}

.Community .stores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.Community .stores .apple-store {
  justify-self: flex-end;
  width: 24rem;
  padding: 0 10px 20px 0;
}
.Community .stores .google-store {
  justify-self: flex-start;
  width: 24rem;
  padding: 0 0 20px 10px;
}

@media screen and (max-width: 780px) {
    .Community {
        text-align: center;
    }
    .Community h3{
        left: 0;
    }
  .Community .community-section-1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 5rem;
  }
  .Community .community-section-1 .content-1 {
    grid-column: 1/1;
    grid-row: 2;
    padding: 0 2rem 2rem 2rem;
  }
  .Community .community-section-1 .community-image {
    grid-column: 1/1;
    grid-row: 1;
    width: 100%;
  }
  .Community .stores {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;
  }

  .Community .stores .apple-store {
    justify-self: center;
    align-self: center;
    padding: 0 0 10px 0;
  }

  .Community .stores .google-store {
    justify-self: center;
    align-self: center;
    padding: 0 0 20px 0;
  }
}
