.Header__OuterDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 90px;
}

.Header__OuterImage {
  height: 40px;
  width: 180px;
  background-attachment: fixed;
  background-size: cover;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.Header__InnerDiv {
  display: flex;
  height: 30px;
  width: 112px;
  justify-content: space-evenly;
  align-items: center;
}

.Header__IconOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
}

.Header__Search {
  border: none;
  outline: none;
  height: 35px;
  width: 400px;
  border-radius: 25px;
  font-size: 1.5rem;
  color: gray;
}
::placeholder {
  color: gray;
}
.Header__Searchout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  width: 50%;
  border: 1px solid white;
  border-radius: 25px;
  /* -moz-box-shadow:   2px 2px 4px 5px #ccc;
   -webkit-box-shadow: 2px 2px 4px 5px #ccc; */
  box-shadow: 1px 1px 3px 4px #ccc;
}

.Header__SectionOuter {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #f2f2f2;
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-right: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.nav-links:hover {
  color: #ed2939;
}

.nav-links:hover:after {
  width: 100%;
  bottom: 40px;
  background: #ed2939;
}

.active {
  color: #ed2939;
  border-bottom: 2px solid #ed2939;
}

.Header__SectionOuter div:nth-child(1) {
  height: 50px;
  width: 100px;
}

.Header__SectionOuter div:nth-child(7) {
  height: 50px;
  width: 100px;
  border: 0;
}
.Header__Chat {
  color: red;
  padding: 10px;
}

.input-search-ic {
  position: relative;
  left: 5rem;
  font-size: 2rem;
}

.dropdown-toggle::after {
  border: none;
}

.profile-dropdown {
  width: 25rem;
  height: 20rem;
  position: relative;
  top: 8rem;
  letter-spacing: 0.3rem;
}

.profile-dropdown li {
  font-size: 1.8rem;
}

.profile-dropdown hr {
  color: #454545;
  height: 2px;
}

.nav-orders {
  color: black;
  text-decoration: none;
}

.dropdown-item:hover,
.nav-orders:hover {
  color: #ed2939;
}

.popup-content {
  left: 850px !important;
  width: 450px !important;
}

.nav-link-boder {
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  text-align: center;
  cursor: pointer;
}
