.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 5rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.Section__Carousel{
    height: 500px;
    float:left;
     width: 70%;
     flex-wrap: wrap;
}

.Section1__Main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.Section1__Second{
    height: 500px;
    float:right;
    width: 30%;
    flex-wrap: wrap;
}

.carousel-indicators{
    border-radius: 50% !important;
}